<header class="header">
    <div class="logo-container">
        <i class="fa-solid fa-book-open logo-icon"></i>
        <span class="logo-texto">Gestão de Biblioteca</span>
    </div>

    <div class="busca-container">
        <input type="text" placeholder="Buscar..." class="busca-input">
        <i class="fa-solid fa-magnifying-glass busca-icon"></i>
    </div>

    <nav class="menu-navegacao">
        <a routerLink="/dashboard" routerLinkActive="ativo">Dashboard</a>
        <a routerLink="/acervo" routerLinkActive="ativo">Acervo</a>
        <a routerLink="/emprestimos" routerLinkActive="ativo">Empréstimos</a>
        <a routerLink="/usuarios" routerLinkActive="ativo">Usuários</a>
    </nav>

    <div class="perfil-container">
        <span class="usuario-nome">Admin</span>
        <i class="fa-solid fa-chevron-down seta-icon"></i>
    </div>

</header>